@model SportsLeague.Models.Team

@{
    ViewData["Title"] = "Team - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<hr />
<h4>Add a new Team</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.TeamName)
    @Html.TextBoxFor(model => model.TeamName)

    @Html.LabelFor(model => model.City)
    @Html.TextBoxFor(model => model.City)

    @Html.DropDownList("DivisionId")
    <input type="submit" value="Add new Team" class="btn btn-default"/>
}
<p>@Html.ActionLink("Back to list", "Index")</p>